@model IEnumerable<InventoryManagementSystem.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Customers List</h4>
        <h6>Manage your Customers</h6>
    </div>
  
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="~/img/icons/search-white.svg" alt="img">
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Age</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                <a class="me-3" asp-action="Edit" asp-route-id="@item.CustomerId"><img src="~/img/icons/edit.svg" alt="img"></a> |
                                <a class="me-3" asp-action="Details" asp-route-id="@item.CustomerId"><img src="~/img/icons/eye.svg" alt="img"></a> |
                                <a asp-action="Delete" asp-route-id="@item.CustomerId"><img src="~/img/icons/delete.svg" alt="img"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
