@model IEnumerable<InventoryManagementSystem.Models.User>
@{
    ViewData["Title"] = "ManageUsers";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>User List</h4>
        <h6>Manage your User</h6>
    </div>
    <div class="page-btn">
        <a asp-action="CreateStaff" class="btn btn-added">
            <img src="~/img/icons/plus.svg" alt="img"
                 class="me-2">Add User
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="~/img/icons/search-white.svg" alt="img">
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Password</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a class="me-3" asp-action="Edit" asp-route-id="@item.UserId"><img src="~/img/icons/edit.svg" alt="img"></a> |
                                <a class="me-3" asp-action="Details" asp-route-id="@item.UserId"><img src="~/img/icons/eye.svg" alt="img"></a> |
                                <a asp-action="Delete" asp-route-id="@item.UserId"><img src="~/img/icons/delete.svg" alt="img"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>